<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>doraemon</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>cn.sherven.doraemon.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserInfo</display-name>
    <servlet-name>GetUserInfo</servlet-name>
    <servlet-class>cn.sherven.doraemon.servlet.GetUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfo</servlet-name>
    <url-pattern>/GetUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEvaTeaListDataModel</display-name>
    <servlet-name>GetEvaTeaListDataModel</servlet-name>
    <servlet-class>cn.sherven.doraemon.servlet.GetEvaTeaListDataModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEvaTeaListDataModel</servlet-name>
    <url-pattern>/GetEvaTeaListDataModel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEvaTableDataModel</display-name>
    <servlet-name>GetEvaTableDataModel</servlet-name>
    <servlet-class>cn.sherven.doraemon.servlet.GetEvaTableDataModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEvaTableDataModel</servlet-name>
    <url-pattern>/GetEvaTableDataModel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetResetPasswordDataModel</display-name>
    <servlet-name>GetResetPasswordDataModel</servlet-name>
    <servlet-class>cn.sherven.doraemon.servlet.GetResetPasswordDataModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetResetPasswordDataModel</servlet-name>
    <url-pattern>/GetResetPasswordDataModel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetResetPhoneDataModel</display-name>
    <servlet-name>GetResetPhoneDataModel</servlet-name>
    <servlet-class>cn.sherven.doraemon.servlet.GetResetPhoneDataModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetResetPhoneDataModel</servlet-name>
    <url-pattern>/GetResetPhoneDataModel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetScheduleDataModel</display-name>
    <servlet-name>GetScheduleDataModel</servlet-name>
    <servlet-class>cn.sherven.doraemon.servlet.GetScheduleDataModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetScheduleDataModel</servlet-name>
    <url-pattern>/GetScheduleDataModel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTeaClassEvaListDataModel</display-name>
    <servlet-name>GetTeaClassEvaListDataModel</servlet-name>
    <servlet-class>cn.sherven.doraemon.servlet.GetTeaClassEvaListDataModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTeaClassEvaListDataModel</servlet-name>
    <url-pattern>/GetTeaClassEvaListDataModel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTeaEvaTeaListDataModel</display-name>
    <servlet-name>GetTeaEvaTeaListDataModel</servlet-name>
    <servlet-class>cn.sherven.doraemon.servlet.GetTeaEvaTeaListDataModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTeaEvaTeaListDataModel</servlet-name>
    <url-pattern>/GetTeaEvaTeaListDataModel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTeaEvaTableDataModel</display-name>
    <servlet-name>GetTeaEvaTableDataModel</servlet-name>
    <servlet-class>cn.sherven.doraemon.servlet.GetTeaEvaTableDataModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTeaEvaTableDataModel</servlet-name>
    <url-pattern>/GetTeaEvaTableDataModel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTeaClassStuEvaListDataModel</display-name>
    <servlet-name>GetTeaClassStuEvaListDataModel</servlet-name>
    <servlet-class>cn.sherven.doraemon.servlet.GetTeaClassStuEvaListDataModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTeaClassStuEvaListDataModel</servlet-name>
    <url-pattern>/GetTeaClassStuEvaListDataModel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PutTeaEvaTableDataModel</display-name>
    <servlet-name>PutTeaEvaTableDataModel</servlet-name>
    <servlet-class>cn.sherven.doraemon.servlet.PutTeaEvaTableDataModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PutTeaEvaTableDataModel</servlet-name>
    <url-pattern>/PutTeaEvaTableDataModel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTable</display-name>
    <servlet-name>UpdateTable</servlet-name>
    <servlet-class>cn.sherven.doraemon.servlet.UpdateTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTable</servlet-name>
    <url-pattern>/UpdateTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PutTeaEvaTeaTableDataModel</display-name>
    <servlet-name>PutTeaEvaTeaTableDataModel</servlet-name>
    <servlet-class>cn.sherven.doraemon.servlet.PutTeaEvaTeaTableDataModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PutTeaEvaTeaTableDataModel</servlet-name>
    <url-pattern>/PutTeaEvaTeaTableDataModel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTeaShowTeaListDataModel</display-name>
    <servlet-name>GetTeaShowTeaListDataModel</servlet-name>
    <servlet-class>cn.sherven.doraemon.servlet.GetTeaShowTeaListDataModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTeaShowTeaListDataModel</servlet-name>
    <url-pattern>/GetTeaShowTeaListDataModel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AUser</display-name>
    <servlet-name>AUser</servlet-name>
    <servlet-class>cn.sherven.doraemon.admin.servlet.AUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AUser</servlet-name>
    <url-pattern>/AUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AMsgTable</display-name>
    <servlet-name>AMsgTable</servlet-name>
    <servlet-class>cn.sherven.doraemon.admin.servlet.AMsgTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AMsgTable</servlet-name>
    <url-pattern>/AMsgTable</url-pattern>
  </servlet-mapping>
</web-app>